*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer{
  background-color: black;
  height: auto;
  width: 1000vw;
  color: #cdf01f;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #cdf01f;
  padding-top: 25%;

}
.footer-content h3{
font-weight: 400;
text-transform: uppercase;
line-height: 3rem;

}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;

}
.socials{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10xp;
}
.socials a{

  text-decoration:  none;
  color: #cdf01f;

}
.socials a i{
  font-size: 0.1rem;
  transition: color .4s ease;
}
.socials a:hover{
  color:white;
}
.footer-bottom{
  background-color: #cdf01f;
  width: 100w;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  opacity: .4;
  font-weight: 200;
}
.fa {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  text-decoration: none;
  color: #cdf01f;

}
.fa :hover{
  color:white;
}